<h2 class="title">
    <%=drinkName %>
</h2>
<%- include('./partials/image', { image: image, altText: drinkName }) %>

<h3>Ingredients:</h3>
<%- include('./partials/list', { items: ingredients.map(i => `${i.measure} ${i.ingredient}`) }) %>

<h3 class="instructions">
    Instructions:
</h3>
<ol>
    <% instructionsSteps.forEach(function(step) { %>
        <li><%= step.trim() %></li>
    <% }); %>
</ol>

<%- include('./partials/error', { error: error }) %>