<% if (drinks && drinks.length > 0) { %>
    <ul class="drinks">
        <%drinks.forEach(function(drink) {%>
            <li>
                <h2><%= drink.strDrink %></h2>
                <%- include('./partials/image', { 
                    image: drink.strDrinkThumb + '/preview', 
                    altText: drink.strDrink 
                }) %>

                <h3>Ingredients:</h3>
                <ul>
                    <% const ingredients = []; %>
                        <% for (let i = 1; i <= 15; i++) { %>
                            <% if (drink['strIngredient' + i]) { %>
                                <% ingredients.push(
                                    (drink['strMeasure' + i] ? drink['strMeasure' + i] + ' ' : '') + drink['strIngredient' + i]
                                ); %>
                            <% } %>
                        <% } %>
                        <%- include('./partials/list', { items: ingredients }) %>
                </ul>

                <h3 class="instructions">
                    Instructions:
                </h3>
                <%const steps = drink.strInstructions.split('.').filter(step => step.trim()); %>
                <% const formattedSteps = steps.map((step, index) => `${index + 1}. ${step.trim()}`); %>

                <%- include('./partials/list', { items: formattedSteps }) %>
            </li>
            <hr>
        <%});%>
    </ul>
<%}%>
<%- include('./partials/error', { error: error }) %>