<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Cocktail Result
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #213456;
            margin: 0;
            padding: 0;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"]{
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .title{
            text-align: center;
        }

        .image{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        input[type="submit"] {
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            font-family: "Satisfy", cursive;
            font-weight: 800;
            font-style: normal;
        }

        .response-area {
            margin-top: 20px;
            background-color: #f0f0f0;

            padding: 20px 5px;
        }

        #ok {
            background-color:#374a2b;
        }
        #ok:hover {
            background-color: #222c1c;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>The Cocktail Dictionary</h1>
        
        <!--COCKTAIL NAME INPUT-->
        <form id="myForm" method="POST" action ="/search-cocktail">
            <label for="cocktailNameInput">Search Cocktail Name for Recipe:</label>
            <input type="text" id="cocktailNameInput" name="cocktailName">

            <input id="ok" type="submit" value="Search">
        </form>

        <h3>OR</h3>

        <!--ALCOHOL NAME INPUT-->
        <form id="myForm" method="POST" action="/search-alcohol">
            <label for="alcNameInput">Search Alcohol Name for Description:</label>
            <input type="text" id="alcNameInput" name="alcName">

            <input id="ok" type="submit" value="Search">
        </form>

        <h3>OR</h3>

        <!--RANDOM COCKTAIL BUTTON-->
        <form id="myForm" method="POST" action ="/random-cocktail">
            <input id="ok" type="submit" value="Click for a Random Cocktail Recipe">
        </form>

        <h3>OR</h3>

        <form id="myForm" method="POST" action ="/first-letter-cocktail">
            <label for="firstLetter">Search Cocktails by First Letter:</label>
            <input type="text" id="firstLetter" name="firstLetterInput">
            <!-- TO FILTER-->
            <h4>Filter the Alcohol Level (optional)</h4>
            <select name="alcLevel" class="form-select">
                <option value=""></option>
                <% for(var i=0; i < filterAlcohol.length; i++){ %>
                    <option value=<%=filterAlcohol[i].strAlcoholic%>><%=filterAlcohol[i].strAlcoholic%></option>
                <%}%>
            </select>

            <h4>Filter the Category (optional)</h4>
            <select name="category" class="form-select">
                <option value=""></option>
                <% for(var i=0; i < filterCategory.length; i++){ %>
                    <option value=<%=filterCategory[i].strCategory%>><%=filterCategory[i].strCategory%></option>
                <%}%>
            </select>

            <h4>Filter the Glass Type (optional)</h4>
            <select name="glassType" class="form-select">
                <option value=""></option>
                <% for(var i=0; i < filterGlass.length; i++){ %>
                    <option value=<%=filterGlass[i].strGlass%>><%=filterGlass[i].strGlass%></option>
                <%}%>
            </select>
            <h4>Sort by (optional)</h4>
            <select name="sortOrder" class="form-select" id="sortOrder">
                <option value=""></option>
                <option value="name-ascending">Name: Ascending</option>
                <option value="name-descending">Name: Descending</option>
                <option value="ingredients-ascending">Ingredients Count: Ascending</option>
                <option value="ingredients-descending">Ingredients Count: Descending</option>
                <option value="instructions-ascending">Instructions Count: Ascending</option>
                <option value="instructions-descending">Instructions Count: Descending</option>
            </select>
            <input id="ok" type="submit" value="Search">
        </form>

        <hr>

        <div class="response-area">
            <!--COCKTAIL RESULT-->
            <% if(error) { %>
                <h2><%= error %></h2>
            <% } else if (drinkName) { %>
                <%- include ('./cocktail', {drinkName: drinkName}) %>
            <% } else if (alcName) { %>
                <%- include ('./alcohol', {alcName: alcName}) %>
                <!--list all the cocktails with the first letter-->
            <% } else if (firstLetter) { %>
                <%- include ('./firstletter', {firstLetter: firstLetter}) %>
            <%}%>
            <!--FOR FILTER, PAKE ARRAY.FILTER METHOD, MATCH ID IN ARRAY WITH QUERY ID-->
        </div>     
    </div>
</body>

</html>